---
const title = "MES PROJETS";
import Navigation from "../components/Header.astro";
import BaseLayout from "../layouts/BaseLayout.astro";

// Importation des données JSON
import projectData from "../data/projectData.json";
---
<html lang="en">
    <BaseLayout>
        <h1 class="text-xl absolute top-16 -left-6 rotate-90">{title}</h1>
        <Navigation></Navigation>

        <div class="grid grid-cols-5 gap-10 p-14">
            {projectData.map((card) => {
                return (
                    <a 
                        href={card.link} 
                        class="flex flex-col gap-5 items-center" 
                        data-id={card.id}
                    >
                        <div
                            class="card bg-white w-[200px] h-[400px] rounded-[30px] bg-cover bg-center transition-all duration-500 ease-in-out hover:w-[300px]"
                            style={`background-image: url(${card.image});`}
                        >
                        </div>
                        <h2 class="text-xl font-semibold border-2 px-2 py-1 border-black w-[200px] text-center">
                            {card.name}
                        </h2>
                        <p>{card.caracteristique}</p>
                    </a>
                );
            })}
        </div>
    </BaseLayout>
</html>
